<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bad" >
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 px-sm-0 pt-2 pt-sm-0 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <!---- <img src="assets/images/xxx.jpg " class="rounded-circle d-lg-inline d-sm-none" alt="Cinque Terre" height="100px"
        width="100px">-->
        <img src="img/xxx.jpg " class="rounded-circle" alt="Cinque Terre" height="100px"
    width="100px">

           
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/sidebar" class="nav-link align-middle px-0">
                  <i class="far fa-user" style="color: purple;"></i> <span class="ms-1 d-none d-sm-inline" style="color: #8E24AA;">Personal Data</span>
                </a>
            </li>
          
            <li>
                <a href="/experinces" class="nav-link px-0 align-middle">
                  <i class="fas fa-sign-out-alt" style="color: purple;"></i> <span class="ms-1 d-none d-sm-inline" style="color: #8E24AA;">experiences</span></a>
            </li>
           
            
            <li>
              <a href="/skills" class="nav-link px-0 align-middle">
                <i class="fas fa-sign-out-alt" style="color: purple;"></i> <span class="ms-1 d-none d-sm-inline" style="color: #8E24AA;"> Skills</span> </a>
          </li>
            
            <li>
                <a href="/Education" class="nav-link px-0 align-middle">
                  <i class="fas fa-sign-out-alt" style="color: purple;"></i> <span class="ms-1 d-none d-sm-inline" style="color: #8E24AA;">Educational </span> </a>
            </li>

          
          <li>
            <a href="/index" class="nav-link px-0 align-middle">
              <i class="fas fa-sign-out-alt" style="color: purple;"></i> <span class="ms-1 d-none d-sm-inline" style="color: #8E24AA;">Sign Out</span> </a>
        </li>
        </ul>
        <hr>
       
    </div>
</div>